client/AganceDeVoyage/Web References/Hotel/Hotel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDisponible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="debut" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fin" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="nbPersonnes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDisponibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDisponibleResult" type="tns:SOAPResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SOAPResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:ArrayOfOffre" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOffre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Offre" nillable="true" type="tns:Offre" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Offre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="hotel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomOffre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lits" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="prix" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="reserver">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idChambre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="debut" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fin" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="nbPersonnes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reserverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reserverResult" type="tns:SOAPResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDisponibleSoapIn">
    <wsdl:part name="parameters" element="tns:getDisponible" />
  </wsdl:message>
  <wsdl:message name="getDisponibleSoapOut">
    <wsdl:part name="parameters" element="tns:getDisponibleResponse" />
  </wsdl:message>
  <wsdl:message name="reserverSoapIn">
    <wsdl:part name="parameters" element="tns:reserver" />
  </wsdl:message>
  <wsdl:message name="reserverSoapOut">
    <wsdl:part name="parameters" element="tns:reserverResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelSoap">
    <wsdl:operation name="getDisponible">
      <wsdl:input message="tns:getDisponibleSoapIn" />
      <wsdl:output message="tns:getDisponibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reserver">
      <wsdl:input message="tns:reserverSoapIn" />
      <wsdl:output message="tns:reserverSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelSoap" type="tns:HotelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDisponible">
      <soap:operation soapAction="http://tempuri.org/getDisponible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserver">
      <soap:operation soapAction="http://tempuri.org/reserver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelSoap12" type="tns:HotelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDisponible">
      <soap12:operation soapAction="http://tempuri.org/getDisponible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserver">
      <soap12:operation soapAction="http://tempuri.org/reserver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hotel">
    <wsdl:port name="HotelSoap" binding="tns:HotelSoap">
      <soap:address location="https://localhost:44326/Hotel.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelSoap12" binding="tns:HotelSoap12">
      <soap12:address location="https://localhost:44326/Hotel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>